### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to convert the value of 'pi' to integer</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
pi = 22/7
int(pi)

3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Find the remainder after dividing 542 by 16</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
a = 542
b = 16
c = a%b
print(c)

14

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3.  Display the following pattern using single print() </b>
                </font>
            </div>
        </td>
    </tr>
</table>

                                *
                                **
                                ***
                                ****

In [4]:
print('*')
print('**')
print('***')
print('****')
print('*****')

*
**
***
****
*****

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Write a code to check whether an entered letter is a vowel or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
x = input('Enter a Letter: ')
if x in 'aeiouAEIOU':
    print('It is Vowel')
else:
    print('It is not Vowel')

It is Vowel

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to swap the two integers passed as runtime variables</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
a = int(input('Enter the 1st number: '))
b = int(input('Enter the 2nd number: '))
temp = a
a = b
b = temp
print('Updated value of a is: ', a)
print('Updated value of b is: ', b)

Updated value of a is:  233
Updated value of b is:  23

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to print the product of two numbers 'x' and 'y' </b>
                    <br><br>
                    <b> x = 10 ; y = "15"  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
a = 2
b = '2'
b = int('2')
c = a*b
print(c)

4

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Write a 
                    code to check whether input is even number or odd number (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# initialize the variabale 
# take the integer value as input from thr user
# check the condition using if statement if number inputted by user divided by 2 and give remainder 0 
# then print "It is even"
# else print "It us odd"

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a code to print whether a number is divisible by 9 and a multiple of 6 (take input from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
# initialize the variabale 
# take the integer value as input from thr user
# check the condition using if statement if number inputted by user divided evenly by 9 (no remainder) 
# if the number can be divided by 9, then check if it can also be divided evenly by 6 (no remainder)
# If the number can be divided by both 9 and 6, print that the number is divisible by 9 and is a multiple of 6
# if the number cannot be divided by 9, print that the number is not divisible by 9

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a code to take 5 values from user and print their average using while loop (take input from user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
# Set a variable named count to 0
# Set a variable named total to 0
# Start a loop that continues as long as count is less than 5
# Ask the user to enter a value
# Add the value to total
# Increase count by 1(increment i++)
# End the loop when 5 values have been entered
# Calculate the average by dividing total by 5
# Print "The average is: " followed by the calculated average

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A text is given below. Write a program to find the character which is at the index position obtained by adding the indices of the character 'o' of the word 'Hello' and 'o' of the word 'welcome'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>string = "Hello, welcome to my world." </b>

In [3]:
string = "hello, welcome to my world"
index_hello = string.index('o')
index_welcome = string.index('o', string.index('w'))
new_index = index_hello + index_welcome
character_at_new_index = string[new_index]
print(f"The character at the index obtained by adding the indices is: '{character_at_new_index}'")

The character at the index obtained by adding the indices is: 't'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 1. Create a tuple with single value '5'</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [25]:
tuple_2 = (5,)
type(tuple_2)

tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program that takes two dictionaries and concatenates them into one dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the below dictionaries:**

dictionary_1 = {'A':1, 'B':2}<br>

dictionary_2 = {'C':3}

In [5]:
dict_1 = {'A':1, 'B':2}
dict_2 = {'C':3}
dict_3 =dict(dict_1)
dict_3.update(dict_2)
print(dict_3)

{'A': 1, 'B': 2, 'C': 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Check whether the set X and Y are disjoint or not </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the sets below (or create your own sets):**

#### Set X
X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }

#### Set Y
Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}

In [7]:
Set_X = {4, 5, 11, 34, 4, 56, 44, 67, 67, 5, 12, 34, 16, 9, 22, 23, 56, 34, 33, 89, 78, 45, 33, 78, 34, 45, 12, 45, 56 }
Set_Y = {41, 52, 63, 56, 67, 45, 99, 56, 45, 23, 45, 63, 45, 56, 45, 55, 56, 56, 12, 86, 67, 55, 56, 34, 89}
Set_X.isdisjoint(Set_Y)

False

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Retrieve the third element in the given list</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [8]:
number = [5, 3, 6, 1, 85, 23, 5, 13]
number[2]

6

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Count the occurance of number -6 in the given tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**
    
num_tuple = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)

In [22]:
tuple_1 = (-4, 7, -8, -9, 8, -6, 7, 3, -6, 1, -8, -6)
tuple_1.count(-6)

3

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. Check whether the number 53 is in the given list or not</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**
    
num_list = [5, 3, 6, 1, 85, 23, 5, 13]

In [10]:
num = [5, 3, 6, 1, 85, 23, 5, 13]
if 53 in num:
    print('Yes, 53 is in the given list')
else:
    print('No, 53 is not in the given list')

No, 53 is not in the given list

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. Remove number 3 from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the set below:**

numbers = {2, 3, 4, 5}

In [11]:
num = {2, 3, 4, 5}
num.remove(3)
print(num)

{2, 4, 5}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to convert a list into tuple  </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list below:**

num_list = [24, 18, 24, 47, 52]

In [42]:
num_list = [24, 18, 24, 47, 52]
new=tuple(num_list)
type(new)

tuple

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to retrieve the capital of 'Germany' from a given dictionary</b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the dictionary given below:**

europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 },
           'France': { 'Capital':'Paris', 'Population':6.7 },
           'Germany': { 'Capital':'Berlin', 'Population':8.28 },
           'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

In [44]:
Europe = { 'Spain': { 'Capital':'Madrid', 'Population':4.77 }, 
          'France': { 'Capital':'Paris', 'Population':6.7 }, 
          'Germany': { 'Capital':'Berlin', 'Population':8.28 }, 
          'Norway': { 'Capital':'Oslo', 'Population':0.533 } }

print(Europe['Germany'].get('Capital'))

Berlin

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Find maximum and the minimum value from a given set </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the elements:**
    
5, 10, 3, 15, 2, 20, 10, 5, 4, 3

In [45]:
a={5, 10, 3, 15, 2, 20, 10, 5, 4, 3}
print(max(a))
print(min(a))

20
2

**Let's begin with some hands-on practice exercises**

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Write a program to print the following pattern (use for loop)</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

                                            A  
                                            B C  
                                            D E F  
                                            G H I J  
                                            K L M N O  
                                            P Q R S T U

In [53]:
alpha = 65                               # ASCI code for A is 65
rows = int(input('enter a number: '))     
for i in range(0,rows):
    for j in range (0,i+1):
        print(chr(alpha), end = ' ')
        alpha = alpha+1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a program to print tables from 2 to a user provided range (use for loop)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [56]:
table = 2
for i in range (1,11):
    print(table, 'x' , i, '=' , table*i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Consider the given two tuples. Divide corresponding elemets of two tuples and print the result as tuple (use zip())</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

   **The original tuple 1 : (10, 4, 6, 9)**

   **The original tuple 2 : (5, 2, 3, 3)**

   **Output: (2, 2, 2, 3)**

In [60]:

tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

result = tuple(a // b for a, b in zip(tuple1, tuple2))

print("The result tuple is:", result)

The result tuple is: (2, 2, 2, 3)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Use list comprehension to find words whose length is less than 5 from the given multi-dimensional list</b>
                    <br>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']]</b>

In [62]:
astro = [['sky', 'sun', 'moon'], ['star', 'Jupiter', 'mars'], ['Jupiter', 'Neptune', 'Pluto']]
new_Astro = [astro for i in astro for astro in i if len(astro) < 5]         
print(new_Astro)

['sky', 'sun', 'moon', 'star', 'mars']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Write a program to append a dictionary to a tuple</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**The original tuple : (4, 5, 6)**

**Tuple after addition of dictionary : (4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})**

In [65]:
dict1 =  {'gfg': 1, 'is': 2, 'best': 3}
tup = (4,5,6)
new_tuple = tup + (dict1,)
print('Tuple after addition of dictionary : ' + str(new_tuple))

Tuple after addition of dictionary : (4, 5, 6, {'gfg': 1, 'is': 2, 'best': 3})

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Write a program to check whether two strings are anagram or not (take input from user)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**Hint: An anagram of a string is another string that contains same characters, only the order of characters can be different.**

In [66]:
s1= input('Enter first word: ')
s2= input('Enter second word: ')
if sorted(s1.lower())==sorted(s2.lower()):
    print('These words are anagram')
else: 
    print('These two words are not anagram')

These two words are not anagram

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Write a program to remove space from keys of the given dictionary (use for loop)  </b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 
                'Fruits 0 3 ': 'Grapes'}**

**(Output) New dictionary :   {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}**

In [70]:
fruitss = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}
fruitss = {d.replace(' ', ''): k 
     for d,k in fruitss.items()}
  
print (" New dictionary : ", fruitss)

 New dictionary :  {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write a program to transpose a matrix using list comprehension</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

**matrix=[[1,2],[3,4],[5,6],[7,8]]**<br>
**Output: [[1, 3, 5, 7], [2, 4, 6, 8]]**

In [72]:
matrix = [[1, 2], [3, 4], [5, 6], [7, 8]]
t = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
print(t)

[[1, 3, 5, 7], [2, 4, 6, 8]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Write a program to add the cubes of first 5 positive integers (use while loop)</b>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [75]:
m = 0
n = 0
while n <= 5:
    m = m+ n**3
    print(m)
    n = n+1

0
1
9
36
100
225

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Write a program to create a 5x3 matrix with values in each row as 1,2, and 3 (use list comprehension)</b>
                    <br>
                 </font>
            </div>
        </td>
    </tr>
</table>

In [76]:
a = []
[[j for j in range(1,4)] for i in range(5)]

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. A list of words is given. Convert the words into uppercase (use lambda and map functions)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>lsbool = ['True','FALse','tRUe','tRue','False','faLse','True']</b><br>
<b>Output: ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']</b>

In [2]:
isbool = map(lambda x:x.upper(), ['True','FALse','tRUe','tRue','False','faLse','True'])
output = list(isbool)
print(output)

['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE', 'TRUE']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Write a function to print the height of students in the class (here count of students is not fixed)</b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
def height(*h):
    for x in h:
        print("The height is ",x)
        
height(110,120,130,145,150,164,178,180,199,200)

The height is  110
The height is  120
The height is  130
The height is  145
The height is  150
The height is  164
The height is  178
The height is  180
The height is  199
The height is  200

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Create a dictionary containing four lambda functions square, cube, squareroot, multiply by 2.</b>
                    <br><br>
                    <b>E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot': function for squareroot, 'Double': function for double} and so on </b>
                    <br><br>
                    <b>Pass the values (input from the user) to the functions in the dictionary respectively. Then add the outputs of each function and print it.</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
def num(n):
    d = { 'Square': lambda a : a**2, 
         'Cube': lambda a : a**3, 
         'Squareroot': lambda a : a**(1/2), 
         'Double': lambda a : a*2}
    sum = 0
    for key in d.keys():
        sum += d[key](n)
    return sum
    
print(num(int(input())))

162.2360679774998

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. A list of words is given. Define a function to find the words from the list that have their second character in uppercase</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']</b><br>
<b>Output: ['hOw', 'ARe']</b>

In [5]:
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
for i in ls:
    if i[1].isupper():
        print(i)

hOw
ARe

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to filter the marks from the tuple "tmarks" that are greater than 40 and print corresponding names from the "tnames" tuple</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>tnames = ('John','Sharon','Jack','Annie')</b><br>
<b>tmarks = (32,50,75,12)</b>

In [8]:
tnames = ('John','Sharon','Jack','Annie')
tmarks = (32,50,75,12)
combo=list(zip(tnames,tmarks))
print(combo)

get_marks=list(filter(lambda x:x>40,tmarks))
print(get_marks)

out=[]

for i in range(0,4):
    if i in get_marks==i in zp.values():
        out.append(zipper.keys(i))     

print(out)

[('John', 32), ('Sharon', 50), ('Jack', 75), ('Annie', 12)]
[50, 75]
[]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 6. A dictionary of names and their weights on earth is given. Find how much they will weigh on the moon. (use map and lambda functions)</b><br> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Weight of people in kg**
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}        

**Gravitational force on the Moon**
GMoon = 1.622                                              

**Gravitational force on the Earth**
GEarth = 9.81                                              

**Output:** 
Weight on Moon:  {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

In [9]:
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35}
GMoon = 1.622
GEarth = 9.81
dict(map(lambda x : (x, round((WeightOnEarth[x]/GEarth)*GMoon, 2)), WeightOnEarth))

{'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 7. A list containing multiple lists is given. Convert each inner list into sets and find intersection of all the sets (use reduce function)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<b>given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]</b><br>
<b>Output: {8, 3}</b>

In [11]:
import functools 
given_set = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C"> 
                    <b> 8. Write a function to store the price of different products in the supermarket (number of products is not fixed)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Define a function to multiply two global variables, 16 and 12</b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [1]:
o = 16
p = 12
def mul():
    c = o*p
    print('Product is: ',c)
mul()

Product is:  192

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b> 10. Find the cumulative average of the list [9,8,7,6,5] using accumulate() and lambda function</b><br>
                </font>
            </div>
        </td>
    </tr>
</table>

In [2]:
from  itertools import accumulate
result=accumulate([9,8,7,6,5],lambda x,y:(x+y)/2)
for res in result :
    print(res)

9
8.5
7.75
6.875
5.9375